NODE_ENV=production #your node environment: development | production

PORT=8080 #your port
URL=127.0.0.1 #your url

# MONGODO
MONGODB_LOCAL=mongodb://127.0.0.1:27017/hiworld-bookstore #your mongodb local url
MONGOOSE_LIMIT_PER_PAGE_DEFAULT=1000 # default limit per page

# ACTIVE ACCOUNT
FRONTEND_ACTIVE_URL=http://127.0.0.1:8082/active-account #your frontend active account url

# PASSWORD RESET
PASSWORD_RESET_TOKEN_EXPIRES_IN=5 # minutes
FRONTEND_RESET_PASSWORD_URL=http://127.0.0.1:8082/reset-password #your frontend reset password url

# JWT
JWT_SECRET_KEY= #your secret key
JWT_EXPIRES_IN=90d

# COOKIE
COOKIE_NAME= #your cookie name
COOKIE_EXPIRES_IN=90 # days

# NODEMAILER MAILTRAP (for development)
MAIL_HOST= #your host
MAIL_PORT= #your port
MAIL_USER= #your user
MAIL_PASSWORD= #your password

# GOOGLE MAILER (for production)
GOOGLE_MAILER_CLIENT_ID= #your client id
GOOGLE_MAILER_CLIENT_SECRET= #your client secret
GOOGLE_MAILER_REFRESH_TOKEN= #your refresh token
ADMIN_EMAIL_ADDRESS= #your email address